.profile {
    padding: 90px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    margin: 2em;
    border-bottom: 1px solid #ddd; /* Add a bottom border to the profile component */
  }
  
  .profile-left {
    margin-right: 1em;
  }
  
  .profile-right {
    flex: 1;
  }
  
  .profile-image {
    max-width: 30%;
    border: 2px solid #ddd; /* Add a border to the profile picture */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
  