.header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed; /* Set position to fixed */
    width: 100%; /* Make the header span the full width */
    top: 0; /* Stick the header to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other elements on the page */
    transition: background-color 0.3s ease;
  }
  
  .header-title {
    margin: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  