.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed; /* Set position to fixed */
    width: 100%; /* Make the header span the full width */
    top: 0; /* Stick the header to the top of the viewport */
    z-index: 1000; /* Ensure the header is above other elements on the page */
    box-shadow: #333 0 0 5px;
    font-weight: medium;
  }
  
  .header-title {
    margin: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    transition: background-color 0.3s ease;
    border: #05050500 3px solid;
  }
  
  .nav-link:hover {
    border-bottom: #718cf7 3px solid;
    color: #718cf7;
    transition: 200ms ease;
  }
  